extends layout

block content
    h2 #{title}
    br
    form(method="POST" action="/article/edit/" + article._id enctype="multipart/form-data")
        .row
            .input-field
                input#title(type="text" name="title" class="validate" value=article.title)
                label(for="title") Title
            if errors
                each error in errors
                    if (error.param == 'title')
                        .message
                            p(class="alert") #{error.msg}
            .input-field
                textarea#body(type="text" name="body" class="materialize-textarea")= article.body
                label(for="body") Body
            if errors
                each error in errors
                    if (error.param == 'body')
                        .message
                            p(class="alert") #{error.msg}
            .input-field(class="btn waves-effect grey darken-1 file-upload")
                span.upload-text Upload image
                i.material-icons cloud_upload
                input#image(type="file" name="image" class="validate upload")
            <span id="fileuploadurl">Maximum image size is 10MB</span>
            if errors
                each error in errors
                    if (error.param == 'image')
                        .message
                            p(class="alert") #{error.msg}
        button(type="submit" class="btn waves-effect light-blue darken-1") Submit
            i.material-icons.right send